body   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.father {
    width: 50%;
    height: 100vh;
    background: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.block1 {
    width: 100%;
    height: 30%;
    background: #50789a;
}
.block2 {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
}.block3 {
     width: 100%;
     height: 35%;
     background: #b12ebb;
 }
 .inner-block {
     width: 30%;
     height: 100%;
     background: #1f8377;
     display: flex;
     justify-content: center;
     align-items: center;
 }